<script>
    $(document).ready(function(){
       $('.parallax').parallax();
       $('.scrollspy').scrollSpy({
           scrollOffset:40
       });
       $('.modal').modal();
    });

</script>

<!-- top fixed navbar -->
<div class="navbar-fixed">
    <nav class="blue-grey lighten-3">
        <div class="nav-wrapper">
            <h4 class="brand-logo" style="margin-left:20px;">Jian Zhang</h4>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="#skills">Skills</a></li>
                <li><a href="#portfolios">Portfolios</a></li>
                <li><a href="#contact">Contact</a></li>
                <li><a href="#header">Home</a></li>
            </ul>
        </div>
    </nav>
</div>

<!-- header -->
<div id="header" class="parallax-container valign-wrapper scrollspy">
     <div class="container">
         <br />
         <div class="row">
             <div class="center">
                 <img src="assets/img/jian.jpg" class="circle responsive-img" style="width: 300px;"/>
             </div>
         </div>
         <div class="row">
             <div class="col l12 s12 white-text center">
                 <div class="thin-text valign" style="text-align:center">
                     <h3>Jian Zhang</h3>
                     <h5>Full-stack web and software developer</h5>
                 </div>
                 <br />
                 <a href="#resume" class="waves-effect orange darken-1 btn">Resume</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                 <a href="assets/jian_zhang_resume.pdf" download="jian_zhang_resume.pdf" class="waves-effect orange darken-1 btn">Download</a>
             </div>
         </div>
         <div class="row">

         </div>
     </div>
     <div class="parallax"><img src="assets/img/notebook.jpg" class="responsive-img"></div>
</div>

<div id="resume" class="modal">
   <div class="modal-content center">
       <object data="assets/jian_zhang_resume.pdf" type="application/pdf" width="1000px" height="650px">
       </object>
   </div>
 </div>

<div id="skills" class="section center scrollspy">
    <br />
    <div class="row">
        <div class="col l2 m2 s6">
            <img src="assets/img/angularjs.png" style="width: 165px; height:auto"/>
        </div>
        <div class="col l2 m2 s6">
            <img src="assets/img/mongodb.png" style="width: 165px; height:auto"/>
        </div>
        <div class="col l2 m2 s6">
            <img src="assets/img/nodejs.png" style="width: 165px; height:auto"/>
        </div>
        <div class="col l2 m3 s6">
            <img src="assets/img/html5.png" style="width: 165px; height:auto"/>
        </div>
        <div class="col l2 m3 s6">
            <img src="assets/img/bower.png" style="width: 165px; height:auto"/>
        </div>
        <div class="col l2 m3 s6">
            <img src="assets/img/npm.png" style="width: 165px; height:auto"/>
        </div>
    </div>
    <div class="row">
        <div class="col l2 m2 s6">
            <img src="assets/img/python.png" style="width: 165px; height:auto"/>
        </div>
        <div class="col l2 m2 s6">
            <img src="assets/img/django.png" style="width: 165px; height:auto"/>
        </div>
        <div class="col l2 m2 s6">
            <img src="assets/img/flask.png" style="width: 165px; height:auto"/>
        </div>
        <div class="col l2 m3 s6">
            <img src="assets/img/jquery.png" style="width: 165px; height:auto"/>
        </div>
        <div class="col l2 m3 s6">
            <img src="assets/img/materialize.png" style="width: 165px; height:auto"/>
        </div>
        <div class="col l2 m3 s6">
            <img src="assets/img/bootstrap.png" style="width: 165px; height:auto"/>
        </div>
    </div>
    <div class="row">
        <div class="col l2 m2 s6">
            <img src="assets/img/ruby.png" style="width: 165px; height:auto"/>
        </div>
        <div class="col l2 m2 s6">
            <img src="assets/img/rails.png" style="width: 165px; height:auto"/>
        </div>
        <div class="col l2 m2 s6">
            <img src="assets/img/vagrant.png" style="width: 165px; height:auto"/>
        </div>
        <div class="col l2 m3 s6">
            <img src="assets/img/mysql.png" style="width: 165px; height:auto"/>
        </div>
        <div class="col l2 m3 s6">
            <img src="assets/img/mamp.png" style="width: 165px; height:auto"/>
        </div>
        <div class="col l2 m3 s6">
            <img src="assets/img/postgres.png" style="width: 165px; height:auto"/>
        </div>
    </div>
    <div class="row">
        <div class="col l2 m2 s6">
            <img src="assets/img/alexa.png" style="width: 165px; height:auto"/>
        </div>
        <div class="col l2 m2 s6">
            <img src="assets/img/aws.png" style="width: 165px; height:auto"/>
        </div>
        <div class="col l2 m2 s6">
            <img src="assets/img/socket.png" style="width: 165px; height:auto"/>
        </div>
        <div class="col l2 m3 s6">
            <img src="assets/img/octocat.png" style="width: 165px; height:auto"/>
        </div>
        <div class="col l2 m3 s6">
            <img src="assets/img/terminal.png" style="width: 165px; height:auto"/>
        </div>
        <div class="col l2 m3 s6">
            <img src="assets/img/atom.png" style="width: 165px; height:auto"/>
        </div>
    </div>

</div>


<!-- portfolios -->
<div id="portfolios" class="section scrollspy">
      <div class="row">
          <div class="col l12 s12 white-text">
              <h4 class="thin-text valign" style="text-align:center">{ PORTFOLIOS }</h4>
          </div>
      </div>
      <div class="row">
          <div class="col s12 m6">
              <div class="card hoverable">
                  <div class="card-image">
                      <img src="assets/img/chatterbox.jpg" />
                  </div>
                  <div class="card-content">
                      <p>** Built with: Angular.js, Socket.io, MongoDB, Express.js, Node.js, Bootstrap, JavaScript **</p>
                      <br />
                      <p>Desciption: ChattrBox is a full, real-time chat app that connects users. Utilizes the Angular.js front-end framework along with Sockets.io to update messages received on the client for users in real-time without the need to refresh the browser at any point. Also utilizes Angular Material and Bootstrap. MongoDB is used as a NoSQL database for data storage.</p>
                      <br />
                      <p style="text-align:center"><a href="https://github.com/VT-Zhang/ChatterBox" target="_blank"> View <img src="assets/img/logo.ico" /> Code</a></p>
                  </div>
                  <div class="card-action" style="text-align:center">
                      <a href="http://www.chattrbox.us" target="_blank">www.chattrbox.us</a>
                  </div>
              </div>
          </div>

          <div class="col s12 m6">
              <div class="card hoverable">
                  <div class="card-image">
                      <img src="assets/img/toys.jpg" />
                  </div>
                  <div class="card-content">
                      <p>** Build with: Python, Django, Materialize-CSS, MySQL, jQuery, JavaScript, CSS, HTML5 **</p>
                      <br />
                      <p>Description: ToysXchange is a posting board app allowing users to post unwanted toys for exchanges. A Twitter-like posting wall GUI, utilizing Google Map API to show the approximate location of the toys. Users are able to conduct the exchange through emails. Python/Django used for back-end framework. Materialize-CSS used for the front-end design.</p>
                      <br />
                      <p style="text-align:center"><a href="https://github.com/VT-Zhang/ToysXchange" target="_blank"> View <img src="assets/img/logo.ico" /> Code</a></p>
                  </div>
                  <div class="card-action" style="text-align:center">
                      <a href="http://www.toysxchange.us" target="_blank">www.toysxchange.us</a>
                  </div>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col s12 m6">
              <div class="card hoverable">
                  <div class="card-image">
                      <img src="assets/img/hitchr.jpg" />
                  </div>
                  <div class="card-content">
                      <p>** Build with: Ruby, Rails, MySQL, jQuery, JavaScript, CSS, HTML5 **</p>
                      <br />
                      <p>Desciption: Hitch-r allows people embarking on a trip to post their trip information and connect with other potential riders and build an effective and simple ride-share. Using the Google Maps API this application provided real time travel data and allowed riders and drivers to seamlessly connect. Implemented MaterializeCSS as a front-end CSS framework.</p>
                      <br />
                      <p style="text-align:center"><a href="https://github.com/VT-Zhang/HitchrIII" target="_blank"> View <img src="assets/img/logo.ico" /> Code</a></p>
                  </div>
                  <div class="card-action" style="text-align:center">
                      <a href="http://www.hitch-r.com" target="_blank">www.hitch-r.com</a>
                  </div>
              </div>
          </div>
          <div class="col s12 m6">
              <div class="card hoverable">
                  <div class="card-image">
                      <img src="assets/img/pacman.png" />
                  </div>
                  <div class="card-content">
                      <p>** Ruby, Rails, MySQL, jQuery, JavaScript, CSS, HTML5 **</p>
                      <br />
                      <p>Desciption: Allows people embarking on a trip to post their trip information and connect with other potential riders and build an effective and simple ride-share. Using the Google Maps API this application provided real time travel data and allowed riders and drivers to seamlessly connect. Implemented MaterializeCSS as a front-end CSS framework.</p>
                      <br />
                      <p style="text-align:center"><a href="https://github.com/VT-Zhang/Pacman" target="_blank"> View <img src="assets/img/logo.ico" /> Code</a></p>
                  </div>
                  <div class="card-action" style="text-align:center">
                      <a href="/pacman" target="_blank">www.jianzhang.us/pacman</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<div id="contact" class="section scrollspy">
    <div class="parallax-container valign-wrapper">
        <div class="container">
            <div class="row center">
                <div class="col l10 offset-l1 valign">
                    <h3 class="center-align orange-text cta">Interested in working together?</h3>
                </div>
            </div>
        </div>
        <div class="parallax"><img src="assets/img/mac.jpg" class="responsive-img"></div>
    </div>
</div>

<!-- contact info -->
<div id="info" class="section blue scrollspy">
    <div class="container white-text" style="text-align:center">
        <div class="row">
            <div class="col l12" >
                <h4>Let's Get In Touch</h4>
            </div>
        </div>
        <div class="row">
            <div class="col l3 m3 s12">
                <img src="assets/img/phone.png" /> <h5>202.812.3078</h5>
            </div>
            <div class="col l3 m3 s12">
                <img src="assets/img/email.png" />  <h5>jianz@vt.edu</h5>
            </div>
            <div class="col l3 m3 s12">
                <a href="http://www.GitHub.com/VT-Zhang" target="_blank"><img src="assets/img/github-logo.png" /></a> <h5>GitHub</h5>
            </div>
            <div class="col l3 m3 s12">
                <a href="https://www.linkedin.com/in/jason-zhang/" target="_blank"><img src="assets/img/linkedin.ico" /></a> <h5>LinkedIn</h5>
            </div>
        </div>

    </div>
</div>
<div class="session">
    <div class="row center">
        <p>
            Copyright © Jian Zhang 2017
        </p>
    </div>
</div>
